@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat','Poppins', sans-serif;
}
.header {
	position: fixed;
	z-index: 111;
	top: 0;
	left: 0;
	width: 100%;
	background: #00000067;
    backdrop-filter: blur(5px);
}
.header ul {
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.logo {
	font-size: 35px;
	text-decoration: none;
	padding: 10px;
	float: left;
	display: block;
	color: #2ebd94;
	font-weight: 700;
}
.header .menu a {
	padding: 15px 25px;
	font-size: 20px;
	display: block;
	color: #2ebd94;
	text-decoration: none;
}
.header .menu a2 {
	padding: 15px 25px;
	font-size: 20px;
	display: block;
	color: #2ebd94;
	text-decoration: none;
}
.header .menu {
	clear: both;
	max-height: 0;
	transition: max-height .3s ease-out;
}
.header .menu a {
	color: #2ebd94;
}
.header .menu a2 {
	color: #2ebd94;
    cursor: pointer;
}
.header .menu a:hover {
	background: #21896c;
	color: #fff;
}
.header .menu a2:hover {
	background: #21896c;
	color: #fff;
}
.header .menu-icon {
	position: relative;
	float: right;
	padding: 30px 20px;
	cursor: pointer;
}
.header .nav-icon {
	position: relative;
	display: block;
	height: 2px;
	width: 30px;
	background: #2ebd94;
}
.header .menu-icon .nav-icon::before {
	position: absolute;
	content: "";
	display: block;
	height: 100%;
	width: 100%;
	background: #2ebd94;
	top: 7px;
	transition: all .2s ease-out;
}
.header .menu-icon .nav-icon::after {
	position: absolute;
	content: "";
	display: block;
	height: 100%;
	width: 100%;
	background: #2ebd94;
	top: -7px;
	transition: all .2s ease-out;
}
.header .menu-btn {
	display: none;
}
.header .menu-btn:checked~.menu {
	max-height: 600px;
}
.header .menu-btn:checked~.menu-icon .nav-icon {
	background: transparent;
}
.header .menu-btn:checked~.menu-icon .nav-icon::before {
	transform: rotate(-45deg);
	top: 0;
}
.header .menu-btn:checked~.menu-icon .nav-icon::after {
	transform: rotate(45deg);
	top: 0;
}
.container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider {
    position: absolute;
    inset: 80px 200px 80px 80px;
    background: #ccc;
    border-radius: 20px;
}
.slider .slides {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 240px;
    height: 320px;
    background: var(--img);
    background-size: cover;
    background-position: center;
    transition: 0.5s;
    border-radius: 20px;
    box-shadow: 0 25px 50px rgba(0,0,0,0.5);
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}
.slider .slides:nth-child(1),
.slider .slides:nth-child(2) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(0);
    box-shadow: 0 25px 50px rgba(0,0,0,0);
    background-size: cover;
}
.slider .slides:nth-child(3) {
    left: calc(50% + 240px);
    background-size: cover;
}
.slider .slides:nth-child(4) {
    left: calc(50% + 500px);
    background-size: cover;
}
.slider .slides:nth-child(5) {
    left: calc(50% + 760px);
    background-size: cover;
}
.slider .slides:nth-child(6) {
    left: calc(50% + 1020px);
    background-size: cover;
    opacity: 0;
}
.slider .slides:nth-child(7) {
    left: calc(50% + 1280px);
    background-size: cover;
    opacity: 0;
}
.buttons {
    position: absolute;
    bottom: 15px;
    display: flex;
    gap: 20px;
}
.buttons span {
    position: relative;
    width: 50px;
    height: 50px;
    background: #111;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.buttons span::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border-top: 4px solid #fff;
    border-left: 4px solid #fff;
    transform: rotate(315deg) translate(2px,2px);
}
.buttons span:nth-child(2):before {
    transform: rotate(135deg) translate(2px,2px);
}
.buttons span:active {
    opacity: 0.5;
}
.content {
    position: relative;
    padding: 30px;
    max-width: 600px;
    transition: 0.25s;
    transition-delay: 0s;
    transform: translateY(40px);
    z-index: 10000;
    opacity: 0;
}
.content h2 {
    font-size: 4em;
    color: #fff;
}
.content p {
    color: #fff;
}
.slider .slides:nth-child(1) .content,
.slider .slides:nth-child(2) .content {
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 0.5s;
}
.social {
    position: absolute;
    display: grid;
    bottom: 15px;
    margin-bottom: -80px;
}
.wrapper .button{
  display: inline-block;
  height: 40px;
  width: 40px;
  margin: 0 5px;
  overflow: hidden;
  background: #fff;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  transition: all 0.3s ease-out;
}
.wrapper .button:hover{
  width: 150px;
}
.wrapper .button .icon{
  display: inline-block;
  height: 40px;
  width: 40px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 40px;
  transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1):hover .icon{
  background: #4267B2;
}
.wrapper .button:nth-child(2):hover .icon{
  background: #1DA1F2;
}
.wrapper .button:nth-child(3):hover .icon{
  background: #E1306C;
}
.wrapper .button:nth-child(4):hover .icon{
  background: #333;
}
.wrapper .button:nth-child(5):hover .icon{
  background: #ff0000;
}
.wrapper .button .icon i{
  font-size: 25px;
  line-height: 40px;
  transition: all 0.3s ease-out;
}
.wrapper .button:hover .icon i{
  color: #fff;
}
.wrapper .button span{
  font-size: 15px;
  font-weight: 500;
  line-height: 40px;
  margin-left: 10px;
  transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1) span{
  color: #4267B2;
}
.wrapper .button:nth-child(2) span{
  color: #1DA1F2;
}
.wrapper .button:nth-child(3) span{
  color: #E1306C;
}
.wrapper .button:nth-child(4) span{
  color: #333;
}
.wrapper .button:nth-child(5) span{
  color: #ff0000;
}
/* Now in PC mode */
@media (max-width: 900px) {
    .slider {
        position: absolute;
        inset: 40px 30px 200px 40px;
        top: 80px;
    }
    .slider .slides {
        width: 100px;
        height: 100px;
        top: initial;
        bottom: -170px;
        box-shadow: 0 15px 20px rgba(0,0,0,0.25);
    }
    .slider .slides:nth-child(1),
    .slider .slides:nth-child(1) {
        top: initial;
        bottom: 
        0px;
    }
    .slider .slides:nth-child(2) {
        top: initial;
        bottom: 
        0px;
    }
    .slider .slides:nth-child(3) {
        left: 0;
    }
    .slider .slides:nth-child(4) {
        left: 120px;
    }
    .slider .slides:nth-child(5) {
        left: 240px;
    }
    .slider .slides:nth-child(6) {
        left: 360px;
    }
    .slider .slides:nth-child(7) {
        left: 480px;
    }
    .content h2 {
        font-size: 2.5em;
        color: #fff;
    }
    .content p {
        font-size: 0.8em;
        color: #fff;
    }
}
@media only screen and (min-width:768px) {
	.header {
        padding-right: 0px;
        padding-left: 50px;
	}
	.header .menu a {
		all: unset;
		color: #2ebd94;
        padding: 0px 20px;
        font-size: 20px;
	}
    .header .menu a2 {
		all: unset;
		color: #ffffff;
        padding: 10px 20px;
        border-radius: 30px;
        background: #21896c;
	}
    .header .menu a:hover {
        background: #21896c;
        color: #fff;
        padding: 10px 20px;
        border-radius: 30px;
    }
	.header .menu {
		all: unset;
		float: right;
		padding-right: 50px;
	}
	.header ul li {
		list-style: none;
		display: inline-block;
	}
	.header ul li {
		color: #fff;
		font-size: 20px;
		padding: 20px 10px;
		cursor: pointer;
	}
	.header .menu-icon {
		display: none;
	}
	.content h2 {
		font-size: 70px;
	}
}